.catalog-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 20px;
}

.catalog-item-img-wrapper {
  overflow: hidden;
  color: var(--grey-800);
  text-decoration: none;
}

.catalog-item-img {
  width: 100%;
  background-color: var(--grey-300);
  transition: all ease 0.5s;
  cursor: pointer;
}

.catalog-item-img:hover {
  transform: scale(1.3);
  transition: all ease 0.5s;
}

.catalog-item-title {
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--grey-800);
  text-decoration: none;
}

.catalog-item-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.catalog-item-about {
  margin-top: 10px;

  text-align: center;
}

@media screen and (max-width: 768px) {
  .catalog-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15px;
  }
}

@media screen and (max-width: 440px) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* 
@media screen and (max-width: 1200px) {
  .catalog-item,
  .catalog-item-img {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .catalog-item,
  .catalog-item-img {
    max-width: 215px;
    width: 100%;
  }
}

@media screen and (max-width: 801px) {
  .catalog-item,
  .catalog-item-img {
    max-width: 299px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .catalog-item,
  .catalog-item-img {
    max-width: 175px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .catalog-item,
  .catalog-item-img {
    max-width: 450px;
    width: 100%;
  }
} */
