.catalog-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;

  /* margin: 0px 20px 0 15px; */
}

.catalog-item-img-wrapper {
  overflow: hidden;
  color: var(--grey-800);
  text-decoration: none;
}

.catalog-item-img {
  max-width: 330px;
  background-color: var(--grey-300);
  transition: all ease 0.5s;
  cursor: pointer;
}

.catalog-item-img:hover {
  transform: scale(1.3);
  transition: all ease 0.5s;
}

.catalog-item-title {
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--grey-800);
  text-decoration: none;
}

.catalog-item-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.catalog-item-about {
  margin-top: 10px;

  text-align: center;
}
