.filter-by-country {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  /* margin: 0 auto 40px; */
}

.filter-by-country-btn {
  display: flex;
  justify-content: center;
  padding: 20px 18px;
  margin: 0 5px;
  text-transform: capitalize;
  transition: all ease 0.5s;
}

.filter-by-country-btn-active {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0 5px;

  width: 10%;

  background-color: var(--grey-80);
  border-radius: 20px;
  text-transform: capitalize;

  transition: all ease 0.5s;
  cursor: pointer;
}

.filter-by-country-btn:hover {
  padding: 20px;
  background-color: var(--grey-80);
  border-radius: 20px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.filter-by-manufacture {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 58px auto;

  /* margin: 58px 25px; */
}

.filter-by-manufacture:last-child {
  border-right: none;
}

.filter-by-manufacture-text {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 0px 10px 5px 0;
  font-weight: 600;
  text-align: inherit;
  padding-bottom: 5px;
}

.filter-by-manufacture-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px 0;
  justify-content: start;
  align-items: center;
}

.filter-by-manufacture-title-text {
  padding: 2px 12px;

  border-right: 1px solid var(--grey-100);
  border-bottom: transparent;
  text-transform: capitalize;

  color: var(--grey-500);
  cursor: pointer;
}

.filter-by-manufacture-title-text:last-child {
  border-right: none;
}

.filter-by-manufacture-title {
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all ease 0.5s;
}

.filter-by-manufacture-title-text:hover > .filter-by-manufacture-title {
  border-bottom: 1px solid var(--grey-500);
  transition: all ease 0.5s;
}

.filter-by-manufacture-title-active {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--grey-500);
  transition: all ease 0.5s;
}

@media screen and (max-width: 870px) {
  .filter-by-manufacture {
    align-items: normal;
  }
}
