.filter-by-country {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 25px; */
  margin: 40px auto 0;
}

.filter-by-country div {
  display: flex;
  padding: 20px;
  margin-right: 20px;

  transition: all ease 0.5s;
}

.filter-by-country div:hover {
  padding: 20px;
  background-color: var(--grey-80);
  border-radius: 20px;
  transition: all ease 0.5s;
}

.filter-by-manufacture {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin: 58px 25px;
}

.filter-by-manufacture:last-child {
  border-right: none;
}

.filter-by-manufacture-text {
  padding-right: 10px;
  font-weight: 600;
}

.filter-by-manufacture-title {
  padding: 5px 12px;
  border-right: 1px solid var(--grey-200);
  color: var(--grey-500);
}

.filter-by-manufacture-title:last-child {
  border-right: none;
}
