.gallery-table {
  display: flex;
  flex-wrap: wrap;
  color: var(--grey-800);
}

.gallery-table-item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 33%;
  padding: 20px 10px;

  overflow: hidden;
}

.gallery-table-photo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow: hidden;
}

.gallery-table-photo img {
  /* width: 100%; */
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.gallery-table-text {
  width: 100%;
  text-align: inherit;
}

@media screen and (max-width: 1200px) {
  .gallery-table-item {
  }
}

@media screen and (max-width: 992px) {
  .gallery-table-item {
    width: 50%;
  }
}

@media screen and (max-width: 601px) {
  .gallery-table-item {
    width: 100%;
  }
}
