.top-bar {
  background-color: var(--grey-30);
  padding: 10px 0;
}

.top-bar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 30px;
  margin: 0 auto;

  max-width: 1120px;

  color: var(--grey-400);
}

.top-bar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.top-bar-link-icon {
  transform: scale(0.7);
}
