.catalog-item-page {
  padding-top: 35px;
}

.catalog-item-image {
  max-width: 500px;
  width: 100%;
  float: left;
  padding: 5px;
}

.catalog-item-bold-and-regular-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 35px;
}

.catalog-item-bold-and-regular-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.catalog-item-bold-and-regular-text-b {
  font-weight: 600;
  color: var(--grey-600);
  font-size: 18px;
}

.catalog-item-bold-and-regular-text-r {
  color: var(--grey-600);
  font-size: 18px;
}

.catalog-item-regular-text {
  padding-bottom: 20px;
  text-align: justify;
  color: var(--grey-600);
  font-size: 16.5px;
  line-height: 1.4;
}

.catalog-item-page-else-title {
  padding: 25px;
}
